<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="header__logo">
          <span class="logo__dot"></span> Cypher Matrix
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="./#about" class="header__link">О школе</a></li>
              <li class="header__item"><a href="./#courses" class="header__link">Курсы</a></li>
              <li class="header__item"><a href="./#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="./#career" class="header__link">Карьера</a></li>
              <li class="header__item"><a href="./#blog" class="header__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать</a>
          <button class="burger" id="burger" aria-label="Menu">
              <span></span>
          </button>
      </div>
  </div>
</header>

<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__backdrop" id="menu-backdrop"></div>
    <div class="mobile-menu__content">
        <div class="mobile-menu__header">
            <div class="header__logo"><span class="logo__dot"></span> Cypher Matrix</div>
            <button class="burger active" id="burger-close"><span></span></button>
        </div>
        <nav class="mobile-menu__nav">
            <a href="./#about" class="mobile-menu__link">О школе</a>
            <a href="./#courses" class="mobile-menu__link">Курсы</a>
            <a href="./#career" class="mobile-menu__link">Карьера</a>
            <a href="./#innovations" class="mobile-menu__link">Инновации</a>
            <a href="./#blog" class="mobile-menu__link">Блог</a>
            <a href="./#contact" class="btn btn--primary">Начать сейчас</a>
        </nav>
    </div>
</div>